* {
    box-sizing: border-box;
}
    
body {
    margin: 0px;
    font-family: sans-serif;
}
#navbar-1{
    background: linear-gradient(to bottom, green, #3e6d3e);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-2{
    background: linear-gradient(to bottom, gold, #e9b21d);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-3{
    background: linear-gradient(to bottom, orange, #9c5a04);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-1 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar-2 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar-3 a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar-1 .cta-button {
    background-color: white;
    color: green;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#navbar-2 .cta-button {
    background-color: white;
    color: rgb(82, 56, 7);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#navbar-3 .cta-button {
    background-color: white;
    color: rgb(121, 111, 4);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}

.footer {
    background: linear-gradient(to bottom, grey, #3a3f3d);
    color: white;
    padding: 12px;
}

.footer a {
    text-decoration: none;
    color: white;
}

    