.card-style-1{
    width: 350px;
    box-shadow: 0px 4px 12px grey;
    background-color: #eeffee;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.card-style-1 img{
    width: 100%;
}
.card-style-1 h2{
    margin: 24px;
}
.card-style-1 p {
    margin: 24px;
}
.card-style-1 a{
    display: block;
    background-color: green;
    padding: 24px;
    color: white;
    font-size: 24px;
    text-align: center;
}
.card-style-1 a:hover{
    text-align: center;
    background-color: transparent;
    color: lightgreen;
}