#style-1-heading{
    text-align: center;
}
#sttle-1-Block-1{
    text-align: center;
    padding: 24px;
    background-color: #49416d;
}
#style-1-block-2{
    text-align: center;
    padding: 24px;
    background-color: #a882dd;
}
