* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url("../images/pawprints.jpg");
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card {
    flex: 300px;
    border: 3px solid black;
    margin: 200px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}

.card a {
    text-decoration: none;
    color: rgb(48, 48, 48);
    display: block;
    border: 3px solid black;
    padding: 12px;
    margin-top: 36px;
}

#navbar{
    background: linear-gradient(to bottom, rgb(59, 0, 77), #be92d8);
    display: flex;
    align-items: center;
}

#navbar a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navebar #logo{
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

#navbar a:hover {
    background: linear-gradient(to top, purple, lavender);
}

.dropdown-container{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s,visibility 0.25s;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}
    
.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: rgb(116, 56, 255);
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: rgb(67, 92, 91);
}

.vertical-masonry-gallery {
    columns: 3 auto;
    column-gap: 24px;
    margin: 100px;
}

.header{
    margin: 200px;
    color:rgb(97, 113, 250);
    font-size: large;
    font-style: bold;
}
.vertical-masonry-gallery img {
    width: 100%;
    margin-bottom: 24px;
}

#card-1 .card-front {
    background-image: url("../images/dragon-egg.png");
    background-size: cover;border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#card-1 .card-front {
    transition: transform 0.25s;
}
    
#card-1 .card-back {
    transition: transform 0.25s 0.25s;
}
    
#card-1:hover .card-front {
    transform: scaleX(0);
}
    
#card-1:hover .card-back {
    transform: scaleX(1);
}

#card-1 {
    position: relative;
    border: 0px;
    padding: 0px;
}

#card-2 .card-front,
#card-2 .card-back {
    border: 3px solid black;
    border-radius: 12px;
    padding: 24px;
}

#card-2 .card-back {
    transform: scaleX(0);
}


#card-2 .card-front {
    background-image: url("../images/white-haired-dog.png");
    background-size: cover;border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}
#card-2 .card-front {
    transition: transform 0.25s;
}
    
#card-2 .card-back {
    transition: transform 0.25s 0.25s;
}
    
#card-2:hover .card-front {
    transform: scaleX(0);
}
    
#card-2:hover .card-back {
    transform: scaleX(1);
}

#card-2 {
    position: relative;
    border: 0px;
    padding: 0px;
}

#card-2 .card-front,
#card-2 .card-back {
    border: 3px solid black;
    border-radius: 12px;
    padding: 24px;
}

#card-2 .card-back {
    transform: scaleX(0);
}

#card-3 .card-front {
    background-image: url("../images/Kitsune.png");
    background-size: cover;border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}
#card-3 .card-front {
    transition: transform 0.25s;
}
    
#card-3 .card-back {
    transition: transform 0.25s 0.25s;
}
    
#card-3:hover .card-front {
    transform: scaleX(0);
}
    
#card-3:hover .card-back {
    transform: scaleX(1);
}

#card-3 {
    position: relative;
    border: 0px;
    padding: 0px;
}

#card-4 {
    position: relative;
    border: 0px;
    padding: 0px;
}

#card-4 .card-front,
#card-4 .card-back {
    border: 3px solid black;
    border-radius: 12px;
    padding: 24px;
}

#card-4 .card-back {
    transform: scaleX(0);
}

#card-4 .card-front {
    background-image: url("../images/Kitten.png");
    background-size: cover;border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}
#card-4 .card-front {
    transition: transform 0.25s;
}
    
#card-4 .card-back {
    transition: transform 0.25s 0.25s;
}
    
#card-4:hover .card-front {
    transform: scaleX(0);
}
    
#card-4:hover .card-back {
    transform: scaleX(1);
}